<% include partials/header %>

<header id="register">

<form action="/register" method="post">
    <h1>SIGN UP</h1>
    <input type="text" name="username" placeholder="username"></br>
    <input type="password" name="password" placeholder="password"></br>
    <button class="submit">Sign Up</button>
</form>
</header>
<% include partials/footer %>